In [107]:
# Import dependenices
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import pymongo

In [108]:
# Create executable path to open a browser for the scraping: using WebDriver Manager
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

## Mars News

In [109]:
# Define the url and visit website
url = 'https://redplanetscience.com/'
browser.visit(url)

In [110]:
# Iterate once to find the container, and then the latest news title and paragraph
html = browser.html
soup = bs(html, 'html.parser')
    
# Grab the title and paragraph text
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
    
print(news_title)
print(news_p)

NASA's Mars Perseverance Rover Passes Flight Readiness Review
​The agency's Mars 2020 mission has one more big prelaunch review – the Launch Readiness Review, on July 27.

## Scrape Mars Data: Featured Image

In [111]:
# Define the url and visit the website
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [112]:
# Find the url for the latest featured image
html = browser.html
soup = bs(html, 'html.parser')

# Parse the resulting html with soup
html = browser.html
soup = bs(html, 'html.parser')

href = soup.find('img', class_='headerimage')['src']
featured_image_url = 'https://spaceimages-mars.com/' + href
    
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts:

In [113]:
# Parse the resulting html with soup
html = browser.html
soup = bs(html, 'html.parser')

href = soup.find('img', class_='headerimage')['src']
featured_image_url = 'https://spaceimages-mars.com/' + href
featured_image_url
# Defide thr Url for table facts
url = 'https://galaxyfacts-mars.com/'

In [114]:
# Find table data and load into pandas
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [115]:
# Create a dataframe from the first table
mars_earth_df = tables[0]
mars_earth_df = mars_earth_df.rename(columns = mars_earth_df.iloc[0])
mars_earth_df = mars_earth_df.set_index("Mars - Earth Comparison")
mars_earth_df = mars_earth_df.iloc[1:]
mars_earth_df

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [116]:
# Create html table for mars facts
mars_earth_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres:

In [122]:
# Defide the url and visit the website
url = 'https://marshemispheres.com'
browser.visit(url)

In [123]:
# Access the html and parse through it
html = browser.html
soup = bs(html, 'html.parser')
    
# Create a hemispheres list
hemisphere_image_urls = []
    
# Get the 4 descriptions for the website - h3
descriptions = soup.find_all('h3', limit=4)

In [124]:
# Iterate through the descriptions
for title in descriptions:
            
    # Click on the description to get the full image
    browser.links.find_by_partial_text(title.text).click()
            
    # Create a new html browser query for the new page
    html = browser.html
    soup = bs(html, 'html.parser')
            
    # Find the downloads box
    download = soup.find('div', class_='downloads')
            
    # Find the downloads list
    img_list = download.find('li')
            
    # Get the first list object's href
    img_url = img_list.a['href']
    
    # Create the full url for the image
    img_url = url + img_url
    
    # Create a dictionary of the values
    dictionary = {
        "title": title.text,
        "img_url": img_url
        }
    
    # Append the dictionary to the hemispheres list
    hemisphere_image_urls.append(dictionary) 
    
    # Navigate back to the main page
    browser.back()

In [125]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.comimages/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.comimages/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.comimages/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.comimages/valles_marineris_enhanced-full.jpg'}]

In [126]:
# Stop automated browser to remain active and shutdown
browser.quit()